.form-set {
    max-width: 530px;
    padding: 5px;
    /* margin: 0 auto; */
}
.form-set .form-set-heading,
.form-set .checkbox {
    margin-bottom: 10px;
}
.form-set .checkbox {
    font-weight: normal;
}
.form-set .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-set .form-control:focus {
    z-index: 2;
}
.form-set input[type="sitename"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-set input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-set button {
    max-width: 100px;
}
