/* ========== 13. FOOTER ========== */
#footer {
    padding: 0;
    margin: 0;
}
#footer .bottom-menu,
#footer .bottom-menu-inverse {
    padding: 24px 0 0;
}
#footer .bottom-menu p,
#footer .bottom-menu-inverse p {
    margin-bottom: 0;
}
#footer .bottom-menu ul.bottom-icons,
#footer .bottom-menu-inverse ul.bottom-icons {
    float: right;
}
#footer .bottom-menu ul.bottom-icons li,
#footer .bottom-menu-inverse ul.bottom-icons li {
    text-align: right;
}
#footer .bottom-menu ul.bottom-icons li a,
#footer .bottom-menu-inverse ul.bottom-icons li a {
    font-size: 18px;
    padding-top: 6px;
    color: white;
}
#footer .bottom-menu ul.bottom-icons li a:hover,
#footer .bottom-menu-inverse ul.bottom-icons li a:hover {
    color: #1abc9c;
}