version: '2'

services:
  redis:
    restart: always
    image: redis:latest
    command:
    - --loglevel warning
    volumes:
      - $PWD/redis_data:/var/lib/redis:Z

  mysql:
      image: mysql
      environment:
        - MYSQL_ROOT_PASSWORD: sspanel
      volumes:
        - $PWD/mysql_data:/var/lib/mysql:Z

  ss-panel:
      image: orvice/ss-panel:master
      ports:
        - 8080:80
      container_name: ss-panel
      environment:
        - MIGRATION=true
        - AUTH_SALT=
        - AUTH_PASSWORD_ENCRYPTION_TYPE=sha256

        - APP_MU_KEY=


        - DB_HOST=mysql
        - DB_DATABASE=sspanel
        - DB_USERNAME=sspanel
        - DB_PASSWORD=sspanel

        - REDIS_HOST=redis
