<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ss-panel5</title>
    <link rel="stylesheet" href="/assets/css/theme.css?{{BUILD}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autotrack/2.3.2/autotrack.js" async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.1/clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/he/1.1.1/he.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
</head>
<body>
<div id="app"></div>
<script src="/assets/js/build.js"></script>
<script src="/assets/js/dashboard.js"></script>
</body>
</html>