{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1>{{ config('app.name') }}</h1>
    <p class="lead">A Tiny PHP Framework.</p>
    <p><a class="btn btn-lg btn-success" href="https://goo.gl/J1M8Rj" role="button">Github</a></p>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h4>Simple</h4>
        <p>Keep it Simple.</p>

    </div>

    <div class="col-lg-6">
        <h4>Modern</h4>
        <p>Install via composer.</p>

    </div>
</div>
{% endblock %}