{% extends "user/layout.html" %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ lang("user-nav.user-home") }} 
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- START PROGRESS BARS -->
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header">
                        <i class="fa fa-bullhorn"></i>

                        <h3 class="box-title"> {{ lang("user-index.announcement") }}  & {{ lang("user-index.faq") }}  </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p><a href="https://down.moe.gr/soft/shadowsocks/"> {{ lang("nav.download") }}  </a></p>
                       <p> @todo </p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col (right) -->

            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header">
                        <i class="fa fa-exchange"></i>

                        <h3 class="box-title"> {{ lang("user-index.traffic-info") }}  </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40"
                                         aria-valuemin="0" aria-valuemax="100"
                                         style="width: {{ user.trafficUsagePercent() }}%">
                                        <span class="sr-only">Transfer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <dl class="dl-horizontal">
                            <dt> {{ lang("user-index.traffic-total") }} </dt>
                            <dd> {{ user().enableTraffic() }}</dd>
                            <dt> {{ lang("user-index.traffic-used") }}  </dt>
                            <dd> {{ user().usedTraffic() }}</dd>
                            <dt> {{ lang("user-index.traffic-unused") }} </dt>
                            <dd> {{ user().unusedTraffic() }} </dd>
                        </dl>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col (left) -->

            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header">
                        <i class="fa fa-pencil"></i>

                        <h3 class="box-title"> {{ lang("user-index.checkin") }} </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p> {{ sprintf(lang('user-index.checkin-des'),conf('app.checkin_time')) }} </p>

                        <p> {{ lang("user-index.last-checkin-at") }}  ：<code>{{ user.lastCheckInTime()}}</code></p>
                        
                        {% if user().isAbleToCheckin() %}
                            <p id="checkin-btn">
                                <button id="checkin" class="btn btn-success  btn-flat"> {{ lang("user-index.checkin") }}  </button>
                            </p>
                        {% else %}
                            <p><a class="btn btn-success btn-flat disabled" href="#">{{ lang("user-index.cant-checkin") }}  </a></p>
                        {% endif %}
                        <p id="checkin-msg"></p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col (right) -->

            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header">
                        <i class="fa  fa-paper-plane"></i>

                        <h3 class="box-title"> {{ lang("user-index.connection-info") }} </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <dl class="dl-horizontal">
                            <dt>{{ lang("ss.port") }}  </dt>
                            <dd>{{ user.port }}</dd>
                            <dt>{{ lang("ss.password") }}  </dt>
                            <dd>{{ user.passwd }}</dd>
                            <dt>{{ lang("ss.obfs-protocol") }}  </dt>
                            <dd>{{ user.protocol}}</dd>
                            <dt>{{ lang("ss.obfs-plugin") }}  </dt>
                            <dd>{{ user.obfs}}</dd>
                            <dt>{{ lang("ss.method") }}  </dt>
                            <dd>{{ user.method }}</dd>
                            <dt>{{ lang("user-index.last-used") }}  </dt>
                            <dd>{{ user.lastSsTime() }}</dd>
                        </dl>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col (right) -->
        </div>
        <!-- /.row --><!-- END PROGRESS BARS -->
    </section>
    <!-- /.content -->
</div><!-- /.content-wrapper -->

<script>
    $(document).ready(function () {
        $("#checkin").click(function () {
            $.ajax({
                type: "POST",
                url: "/user/checkin",
                dataType: "json",
                success: function (data) {
                    $("#checkin-msg").html(data.msg);
                    $("#checkin-btn").hide();
                },
                error: function (jqXHR) {
                    alert("发生错误：" + jqXHR.status);
                }
            })
        })
    })
</script>


{% endblock %}
